body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the minimum height of the page is 100% of the viewport height */
}

.content-section {
  flex: 1; /* Grow to fill the space between header and footer */
  background-image: url('/src/assets/mainpic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50px; /* Add extra space for the content */
}

.search-section {
  padding: 50px 0;
  text-align: center;
}

.search-section .form-control {
  height: 50px;
  font-size: 1.2rem;
}

.search-section .btn {
  height: 50px;
  font-size: 1.2rem;
    min-width: fit-content;
}

.jobs-section {
  background: rgba(255, 255, 255, 0.9);
  padding: 50px 0;
  max-height: 100vh;
}

.jobs-section h2 {
  font-size: 2rem;
  font-weight: bold;
}

.slick-slide {
  padding: 0 5px; /* Space between images */
}

.slick-slide img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 200px; /* Control image height */
  object-fit: cover; 
}

.slick-prev, .slick-next {
  z-index: 1; /* Put navigation top of images */
}

.slick-dots {
  bottom: 10px; /* Put dot closer to the bottom */
}

.footer-section {
  background-color: #f8f9fa;
  padding: 20px;
  width: 100%;
}

.footer-heading {
  margin-bottom: 15px;
  font-weight: bold;
  display: flex;
  align-items: center; /* Align vertically */
}

.footer-icon {
  margin-right: 10px; /* Space between icon and text */
  color: #007bff; 
}

.footer-item {
  margin-bottom: 20px; /* Spacing between sections */
}

.footer-content {
  display: flex;
  flex-direction: column; /* Put heading and text vertically */
}

.footer-text {
  margin: 0; 
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 15px; /* Space between icons */
}

.social-icons a {
  color: #333;
  text-decoration: none; /* Remove underline from links */
}

.social-icons a:hover {
  color: #007bff; /* Change color on hover */
}

/* Navbar Styles */
.navbar-nav .nav-link {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link.active {
  font-weight: bold; 
}

.job-footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.custom-search-bar {
  max-width: 600px; /* Adjust this value to reduce width */
  margin: 0 auto; /* Center the search bar */
}

.custom-list-group {
  max-width: 600px; /* Same width as search bar */
  margin: 0 auto;   /* Center the list group */
}

.btn {
  min-width: fit-content;
}

@media (max-width: 576px) {
  .card-body {
    padding: 10px;
  }

  .icon-container p {
    font-size: 0.9em; /* Make text smaller on smaller screens */
  }

  .card-text {
    font-size: 0.9em; /* Reduce paragraph size for small screens */
  }
}

.icon-container {
  min-width: 80px;
}

.img-fluid {
  max-height: 300px; /* Limit image height on small screens */
  object-fit: cover; /* Ensure image scales well */
}


